/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/storage/cache
/storage/temporary
/node_server/env.js
/node_server/node_modules
/public/sitemap.xml
