.infomation-wrapper {
	width: 100%;
	padding: 3.125rem 0;
	/*background-color: #605aa2;*/

	/*background: linear-gradient(to bottom, #241d33 0%, #171930 51%, #091119 100%);*/

	/*background-color: rgb(81,89,126);*/

	/*background: #141E30;
	background: linear-gradient(to right, #243B55, #141E30);*/

	background: #667db6;
	background: linear-gradient(to right, #243B55, #141E30, #141E30, #243B55);


}

.content-section {
 color: #fff;
 position: relative;
 z-index: 10;
}

.content-section h1 {
	font-size: 3.25rem;
}

.content-section button,
.content-section a {
	border: 0;
	cursor: pointer;
	background-color: #0575E6;
	/*border-radius: 28px;*/
}

.content-section button:hover,
.content-section a:hover {
	background-color: #0575E6;
}

.content-section button:focus,
.content-section a:focus {
	color: #fff;
	background-color: #0575E6;
}

.parallax-bg {
	z-index: 1;
	height: auto;
	padding: 50px 0;
	overflow: hidden;
	text-align: center;
	position: relative;
	/*background-color: #021B79;*/
	background-color: #1A237E;
	background-color: rgb(40,55,112);
}

/*.parallax-bg:before {
	content: "";
	left: 0;
	bottom: 0;
	width: 100%;
	z-index: 9;
	height: 100%;
	text-align: center;
	position: absolute;
	background: rgba(0,0,0,0.5);
}*/

.parallax-bg button,
.parallax-bg a {
	border-radius: 28px;
	background-color: rgb(227,75,163);
	/*box-shadow: 0 0 10px 2px rgba(227,75,163,.85);*/
}

.parallax-bg button:hover,
.parallax-bg a:hover {
	background-color: rgb(227,75,163);
}

.parallax-bg button:focus,
.parallax-bg a:focus {
	background-color: rgb(227,75,163);
}

.information-grid {
	background-color: #0072ff;
}

.information-grid i {
	color: #fff;
}

@media (max-width: 480px) {
	.content-section h1 {
		font-size: 2rem;
		line-height: 38px;
	}

	.content-section h3 {
		font-size: 1.5rem;
	}
}

footer {
	border-top: 1px solid #ccc;
	width: 100%;
	height: 60px;
}