#credit_card_image {
	width: 20px;
}

.payment-form-container {
  width: 860px;
  max-width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}