.left-sidenav {
	/*position: absolute;
	top: 0;
	left: 0;
	width: 280px;
	background-color: #fff;*/
	position: fixed;
  top: 86px;
  left: 40px;
  width: 280px;
  background-color: rgba(255,255,255,.6);
	border: 1px solid #ccc;
}

.left-sidenav h4 {
	font-weight: 700;
	color: #37454d;
	font-size: 14px;
	display: block;
	margin: 0 0 1rem;
	line-height: 1.25rem;
}

.left-sidenav .price-range {
	height: 30px;
}

#price_range .slider-selection {
  /*height: 4px;*/
  background: #90CAF9;
}

#price_range .slider-handle {
  background-color: #1976D2 !important;
  background-image: none;
}

#price_range.slider-horizontal {
  width: 90%;
}

#price_range.slider-horizontal .slider-track {
  background-color: #000 !important;
}

#price_range_slider {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.data-list {
	position: relative;
	margin-left: 290px;
}

.data-list-item {
	position: relative;
	width: 100%;
	margin-bottom: 1.25rem;
	color: #37454d;
	background-color: #fff;
	border: 1px solid #ccc;
	box-shadow: 0 1px 4px rgba(41,51,57,.5);
}

/*.data-list-item .main-data-inner {
	min-height: 80px;
}*/

.data-list-item .main-data-section h5 {
	/*background-color: rgb(65,133,242);
	color: #fff;
	padding: 1.25rem;*/
	color: #000;
	line-height: 1.625rem;
}

.additional-data-section i {
	color: rgb(65,133,242);
	font-size: 1.125rem;
	width: 40px;
	text-align: center;
}

.additional-data-section .additional-item {
	margin-bottom: 1rem;
	font-size: 14px;
	font-weight: bold;
}

.additional-data-section .additional-item:last-child {
	margin-bottom: 0;
}

.data-list-item .data-image > img {
	width: 100%;
}

.data-list-item .data-image .image-more {
	position: absolute;
	right: 0;
	bottom: 0;
	color: #fff;
	font-size: 1.25rem;
	background-color: rgba(60,60,60,.6);
	padding: 5px 20px;
}

.data-list-item .data-image .image-more > img {
	width: 30px;
}

.data-list-item .data-image {
	position: relative;
	min-height: 80px;
	background-color: #bbb;
  /*margin-bottom: 0.625rem;*/
}

.price-section {
	/*background-color: #ddd;*/
	position: relative;
}

.price-section .original-price {
	color: red;
	text-decoration: line-through;
	font-size: 1.125rem;
}

.price-section .price {
	color: #428500;
	font-size: 1.25rem;
}


.price-saving-flag {
	/*position: absolute;
	top: 0;
	right: 0;*/
	color: #fff;
	background-color: #D50000;
	/*padding: 0.3125rem;*/
	/*border-radius: 2px 0 0 2px;*/
	/*height: 100%;
	line-height: 65px;*/
	padding: 0 1.5625rem;
	font-size: 1.375rem;
}

.seller-section {
	position: relative;
}

.seller-section .avatar-frame {
	width: 40px;
	height: 40px;
	position: relative;
}

.seller-section .avatar {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #ddd;
	overflow: hidden;
}

.seller-section .online-status {
	margin-left: 1rem;
	line-height: 40px;
}

.seller-section .online-status-indicator {
	position: absolute;
	top: -0;
	left: -3px;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	z-index: 9;
	display: none;
}

.online-status-indicator.is-online {
	background-color: #21ba45;
	box-shadow: 0 0 10px 2px rgba(28,156,1,.85);
	online-status-indicator
}

.online-status-indicator.is-offline {
	background-color: #767676;
	display: block;
}

.contact-section i {
	font-size: 1rem;
}

.contact-section h5 {
	border-bottom: 1px solid #999;
}

.image-gallery-section {
	min-height: 180px;
}

.nav-tabs {
	border: 0;
	border-top: 1px solid #999;
	height: 45px;
	line-height: 45px;
}

.nav-tabs > li {
	width: 100%;
	text-align: center;
	background-color: #ddd;
}

.nav-tabs > li:hover {
	background-color: #bbb;
}

.nav-tabs > li:hover a {
	display: block;
	text-decoration: none;
}

@media (max-width: 480px) {

	.data-list-item .main-data-section {
		border: 0;
	}

	.price-section {
		border-top: 1px solid #999;
	}

	.data-list {
		margin-left: 0;
	}

	.left-sidenav {
		left: -290px;
	}

	.nav-tabs {
		margin-right: 0;
	}

	.image-gallery-section {
		min-height: 120px;
	}

	.seller-section {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		background-color: #ececec;
		border-top: 2px solid rgb(65,133,242);
	}

}