.c-card .title {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.45;
}

.c-card .subtitle {
  color: #333;
  /*font-size: 0.75rem;*/
  line-height: 1.25rem;
}

.c-card .success {
  color: #16a085;
}

.c-grid-layout {
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 640px) {
  .c-grid-layout {
    width: 100%;
  }
}

.c-grid-layout .c-grid__col {
  margin-top: 20px;
}

@media (min-width: 640px) {
  .c-grid-layout .c-grid__col {
    float: left;
    margin-top: 0;
  }
}

/*.c-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}*/
@media (min-width: 640px) {
  .c-grid {
    padding: 0 10px;
  }
}
.c-grid__col {
  width: 100%;
}
@media (min-width: 640px) {
  .c-grid__col {
    width: 50%;
    padding: 10px;
  }
}
@media (min-width: 960px) {
  .c-grid__col {
    width: 33.33%;
  }
}
@media (min-width: 1024px) {
  .c-grid__col {
    width: 50%;
  }
}
@media (min-width: 1280px) {
  .c-grid__col {
    width: 25%;
  }
}
@media (min-width: 1366px) {
  .c-grid__col {
    width: 33.33%;
  }
}
@media (min-width: 1440px) {
  .c-grid__col {
    width: 25%;
  }
}

.c-card {
  width: 100%;
  /*height: 100%;*/
  font-size: 1rem;
  margin: 16px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  position: relative;
}

.c-card--inner {
  overflow: hidden;
}

.c-card--to-edge {
  margin: 0 0 4px;
  border-radius: 0;
  box-shadow: none;
}
.c-card__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  padding: 12px;
  overflow: hidden;
  position: relative;
  background-color: rgba(255,255,255,.85);
  border-bottom: 1px solid #ccc;
  z-index: 5;
}
.c-card__avatar {
  width: 36px;
  height: 36px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 12px;
}
.c-card__avatar img {
  width: 100%;
  height: 100%;
}
.c-card__title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
/*.c-card__title .subtitle {
  line-height: 18px;
}*/
.c-card__flag {
  position: absolute;
  top: 12px;
  left: 0;
  color: #fff;
  font-size: .875rem;
  /*background-color: #2196F3;*/
  background-color: #0074D9;
  padding: 0.25rem 0.75rem;
  z-index: 9;
}
/*.c-card__flag:after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  border: 4px solid;
  border-top-color: #0D47A1;
  border-right-color: #0D47A1;
  border-bottom-color: transparent;
  border-left-color: transparent;
}*/
.c-card__date {
  color: #888;
  font-size: 0.75rem;
}
.c-card__icons a {
  display: inline-block;
  padding: 4px 12px;
  font-size: 1.375rem;
  text-align: center;
  line-height: 1;
  color: #777;
}
.c-card__media {
  min-height: 140px;
  background-color: #aaa;
}
.c-card__primary-title {
  overflow: hidden;
  position: relative;
  z-index: 5;
  background-color: rgba(255,255,255,.85);
}
.c-card__primary-title .title {
  margin: 0;
  padding: 12px 12px 8px;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 26px;
  overflow: hidden;
}
@media (min-width: 640px) {
  .c-card__primary-title .title {
    height: 72px;
  }
}
.c-card__primary-title .subtitle {
  padding: 0 12px 8px;
  font-size: 0.875rem;
}
.c-card__text {
  font-size: 0.875rem;
  padding: 12px;
  color: #555;
}
.c-card__price {
  position: relative;
  background-color: rgba(255,255,255,.85);
  z-index: 5;
}
.c-card__actions {
  padding: 6px;
  font-size: 1rem;
  font-weight: 500;
  position: relative;
  background-color: #fff;
  z-index: 5;
}
.c-card__actions a {
  display: inline-block;
  padding: 6px;
  text-transform: uppercase;
  text-decoration: none;
  color: #555;
}
.c-card__actions a.c-btn {
  margin: 0 0 0 6px;
}

.Media__image {
  position: relative;
  /*overflow: hidden;*/
  z-index: 2;
}
.Media__image--one-right, .Media__image--two-right {
  float: right;
  width: 60px;
  height: 60px;
  margin: 4px 12px 0;
}
.Media__image--one-right img, .Media__image--two-right img {
  max-width: auto;
  height: 100%;
  border-radius: 4px;
}
.Media__image--two-right {
  width: 120px;
  height: 120px;
}
.Media__image--16-9 {
  height: 0;
  padding-top: 56.25%;
}
.Media__image--16-9 img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.c-btn, a.c-btn {
  display: inline-block;
  padding: 6px 24px;
  background-color: #ddd;
  border-radius: 4px;
  font-size: 0.75rem;
  border: 1px solid #ccc;
}
.c-btn .fa, a.c-btn .fa {
  margin: 0 6px 0 -6px;
}
.c-btn:hover, .c-btn:focus, a.c-btn:hover, a.c-btn:focus {
  background-color: #ccc;
  border-color: #bbb;
}

.c-btn__primary, a.c-btn__primary {
  background-color: #e74c3c;
  border-color: #e43321;
  color: #fff;
}
.c-btn__primary:hover, .c-btn__primary:focus, a.c-btn__primary:hover, a.c-btn__primary:focus {
  background-color: #e43321;
  border-color: #cd2a19;
}
