header {
	height: 60px;
}

/*header .brand-s {
	display: none;
}*/

.gn-menu-main {
	z-index: 90;
	border-bottom: 1px solid #ccc;
}

.gn-menu-main a {
	font-weight: 500;
}

.gn-menu-main > li > a {
	font-size: 0.875rem;
}

header .gn-menu-main > li > .notification {
	position: relative;
	padding: 0.625rem;
}

header .notification > i {
	font-size: 2.25rem;
	color: #999;
}

header .notification.on > i {
	color: #311B92;
}

header .notification > .header-badge {
	position: absolute;
	top: 7px;
	right: 0px;
	font-size: 1rem;
	text-align: center;
	line-height: 28px;
	color: #fff;
	background-color: #ff4081;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	display: none;
}

header .notification.on > .header-badge {
	display: block;
}

header .gn-menu-main > li > .avatar-frame {
	position: relative;
	padding: 0 0.625rem;
}

header .avatar-frame .avatar {
	width: 40px;
	height: 40px;
	overflow: hidden;
	border-radius: 50%;
	border: 2px solid #5f6f81;
}

@media (max-width: 480px) {
	.gn-menu-main > li > a {
		padding: 0 10px;
	}
}