.pagination li {
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

.pagination li a {
  color: #444;
  display: inline-block;
  font-size: 1rem;
  padding: 6px 12px;
}

.pagination li.active a {
  color: #fff;
}

.pagination li.active {
  /*background-color: #546E7A;*/
  background-color: #009688;
}

.pagination li.disabled a {
  cursor: default;
  color: #999;
}

.pagination li i {
  font-size: 1rem;
}

.pagination li.pages ul li {
  display: inline-block;
  float: none;
}

/*@media only screen and (max-width: 992px) {}*/